./Página web/img
./Octopus_app-master/app/app-release.apk
./Octopus_app-master/app/app.iml
./Octopus_app-master/app/build
./Octopus_app-master/app/build.gradle
./Octopus_app-master/app/proguard-rules.pro
